
/vendor
/node_modules

# Laravel environment
.env
.env.*.backup
.env.production

# Laravel logs & caches
/storage/*.key
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public
/bootstrap/cache/*.php

# Laravel Mix / Vite
/public/build
/public/hot

# IDEs & OS
/.idea
/.vscode
/.fleet
/.zed
.DS_Store
Thumbs.db

# Testing
.phpunit.result.cache

# Composer / npm
auth.json
Homestead.json
Homestead.yaml
